#summonerFormAlert {
    display: none;
}

#table-container {
    display: none;
}

#chartContainer {
    height: 150px;
    position: relative;
}

#summonerNameNotifcation {
    display:block;
}

#IPTimeResultContainer {
    display: none;
}

/* place before selected style */
#portraitsContainer li{
    background-color: #7b7b7b;
}

#portraitsContainer li{
    height: 52px;
    width: 52px;
}

#portraitsContainer {
    margin: 0 auto;
}

#manualIPtext {
    display: inline;
    width: auto;
}

#manual-back-button-container {
    text-align: left;
}